:root{
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #ffc107;
    --gris: #757575;
    --secundario: #0097A7;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    background-color: #d1cbcb;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

.contenedor {
    background-color: #d1cbcb;
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 0.5rem 1rem;
    margin-top: 3rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.articulo{
    background-color: var(--blanco);
    padding: 2rem;
    margin: 1rem;
}

.articulo p{
    font-weight: 700;
    text-transform: uppercase;
}

.articulo p:nth-child(3){
    color: var(--primario);
    text-align: right;
}

.diseno-flex{
    display: flex;
    justify-content: space-between;
}

.menu-izquierda{
    background-color: var(--blanco);
    height: 80rem;
    flex: 0 0 calc(20% - 2rem);
    margin: 1rem;
}

/* Estilos al menú */
.categorias{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--secundario);
    font-size: 2rem;
}

.estilo-menu{
    list-style: none;
    padding: 0;
}

.estilo-menu li{
    padding: 1rem;
    font-weight: 700;
    text-align: center;
}

.estilo-menu li:hover{
    background-color: var(--primario);
}

.estilo-menu li a{
    color: var(--oscuro);
    text-decoration: none;
}

@media screen and (min-width: 480px){
    .diseno-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 480px){
    .diseno-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 768px){
    .diseno-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1100px){
    .diseno-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}